* {
  margin: 0;
  padding: 0;
}
body {
  /* display: flex; */
  position: relative;
  /* justify-content: center; */
  height: 99vh;
  /* align-items: center; */
}
h1 {
  font-size: 35px;
  position: absolute;
  top: 25%;
  left: 40%;
}
.item-list {
  /* background: red; */
  width: 500px;
  height: 300px;
  position: absolute;
  top: 40%;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li {
  margin-left: 34%;
  list-style: none;
  display: flex;
  width: 90%;
  height: 100%;
  /* background: yellow; */
  font-size: 22px;
}
.favorite-icon {
  font-size: 20px;
  cursor: pointer;
  border: none;
  width: 100%;
  background: none;
  margin-bottom: 12%;
}

.filled {
  text-align: center;
  /* background: red; */
}
